body {
    background-color: black;
    padding: 50px;
}

#game_board {
    border: 2px solid #aaaaaa;
    font-family: Menlo, Monaco, monospace;
    font-size: 28px;
    border-radius: 15px;
    color: aliceblue;
    width: 440px;
    height: 440px;
    margin: auto;
    padding: 5px;
    background-color: slategrey;
    overflow: auto;
    position: relative;
}

.tile {
    width: 88px;
    height: 88px;
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
}

.holder {
    border: 1px solid #828282;
    border-radius: 7px;
    color: black;
    background-color: #aaaaaa;
    z-index: 0;
}

.active {
    border: 1px solid #828282;
    border-radius: 7px;
    color: black;
    background-color: #CCCCFF;
    opacity: 90%;
    z-index: 2;
}

div.row0 {
    bottom: 5px;
}

div.row1 {
    bottom: 115px;
}

div.row2 {
    bottom: 225px;
}

div.row3 {
    bottom: 335px;
}

div.col0 {
    left: 5px;
}

div.col1 {
    left: 115px;
}

div.col2 {
    left: 225px;
}

div.col3 {
    left: 335px;
}